body{
    background-color: #000411;
    color: #F9EDE4;
    font-family: 'vcr';
    font-size: 24px;
}
h1 {
    font-family: 'vcr';
    font-size: 72px;
}
@font-face {
    font-family: 'vcr';
    src: url(https://raw.githack.com/themr84/themr84.github.io/main/fonts/vcrfont.ttf) format(truetype);
}