#social p {
  text-decoration: overline underline;
  
}
body {
  
  background-image: linear-gradient(to top, #000411, #000400);
  background-attachment: fixed;
  
  background-color: #000411;
  color: #f9ede4;
  text-shadow: 2px 2px 5px #f9ede4;
  font-family: "vcr";
  font-size: 24px;
}

h1 {
  font-family: "vcr";
  font-size: 72px;
}

@font-face {
  font-family: "vcr";
  src: url(https://raw.githack.com/themr84/themr84.github.io/main/fonts/vcrfont.ttf)
    format(truetype);
}

code {
  font-family: "vcr";
  font-size: 24px;
  background-color: #1d004b;
  max-width: fit-content;
  padding: 0.5em;
}

pre {
  
  font-family: "vcr";
  font-size: 24px;
  max-width: fit-content;
  padding: 0.5em;
}

h2 {
  font-size: 40px;
  text-decoration: underline overline;
}
h3 {
  font-size: 32px;
}

a:link {
  font-family: "vcr";
  font-size: 24px;
  color: #fab27c;
  text-shadow: 2px 2px 5px #fab27c;
}
a:visited {
  font-family: "vcr";
  font-size: 24px;
  color: #fab27c;
  text-shadow: 2px 2px 5px #fab27c;
}
a {
  font-family: "vcr";
  font-size: 24px;
  color: #f9ede4;
  display: inline-block;
  transition: transform 0.5s ease;
  position: relative;
}
#back a:hover {
  transform: scale(1.2) translate(5px, 2px);
}
a:hover {
  transform: scale(1.2) translate(22px, 0px);
}

.eternalatakenew {
  position: relative;
  transform: translate(0px, 0px);
}
.eternalatakesub1 {
  position: relative;
  font-size: 14px;
  transform: translate(0px, -10px);
}
.sub1 {
  position: relative;
  font-size: 14px;
}
.eternalatakesub2 {
  position: relative;
  font-size: 18px;
  transform: translate(0px, -10px);
}
